/* Created by Metrum AI for Dell */
.hardware-text {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: #333;
}

.table {
  font-size: 12px;
  border-radius: 4px;
  text-align: left;
  height: 100%;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 4px;
}

.table th:nth-child(1) {
  background-color: #f0f0f0;
  border-radius: 6px 0px 0px 0px;
}

.table th:nth-child(2) {
  background-color: #f0f0f0;
  border-radius: 0px 6px 0px 0px;
}

.table td:last-child {
  background-color: #fafafa;
  border-radius: 0 0 6px 0;
}

.table td:first-child {
  background-color: #fafafa;
  border-radius: 0 0 0 6px;
}
